<!DOCTYPE html>
<html lang="fi" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Urlerl.JS | kaikkitietokoneista.net</title>
    <link rel="stylesheet" href="https://unpkg.com/@blaze/css@x.x.x/dist/blaze/blaze.css">
    <script src="https://unpkg.com/@blaze/atoms@x.x.x/dist/blaze-atoms.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style media="screen">
      body {
        font-family: helvetica;
      }
    </style>
  </head>
  <body>
    <div class="o-container o-container--large">

      <h2 class="c-heading u-xlarge">
        Urler.JS
      </h2>
      <br>
      <div class="c-input-group">
        <a href="https://github.com/kaikkitietokoneista/Urler.JS" target="_blank" class="c-button c-button--block c-button--brand">L채hdekoodi</a>
        <a href="https://roy.takanen.eu" target="_blank" class="c-button c-button--block c-button--info">Tekij채</a>
      </div>
      <br>
      <form class="" action="/new" method="get">
        <div class="c-input-group">
          <div class="o-field">
            <input class="c-field" name="url" placeholder="Pitk채 osoite...">
          </div>
          <input type="submit" class="c-button c-button--brand" value="Lyhenn채">
        </div>
      </form>
      <hr>
    </div>
  </body>
</html>
