<!DOCTYPE html>
<html lang="fi" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Urlerl.JS | kaikkitietokoneista.net</title>
    <link rel="stylesheet" href="https://unpkg.com/@blaze/css@x.x.x/dist/blaze/blaze.css">
    <script src="https://unpkg.com/@blaze/atoms@x.x.x/dist/blaze-atoms.js"></script>
    <style media="screen">
      body {
        font-family: helvetica;
      }
    </style>
  </head>
  <body>
    <div class="o-container o-container--large">

      <h2 class="c-heading u-xlarge">
        Urler.JS - Onnistui
      </h2>
      <br>
      <blaze-alert open type="success">
        Lyhennetty URL on luotu:
        <br>
        <input class="c-field" value="<%= uri %>" type="text" />
      </blaze-alert>
    </div>
  </body>
</html>
